<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Headlines</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'headlines/css/common_design.css' %}">
	<style type="text/css">
		body {background-image: url("{% static 'headlines/imgs/layout_1.png' %}")}
	</style>

</head>

<body>
	<div class="header">
		News
		<div id="date">{{ date }}</div>
		<span id="time"></span>
	</div>
	<script type="text/javascript" src="{% static 'headlines/js/time.js' %}"></script>
	{% if top_list %}
		<h3>Top</h3>
		<div class="news">
			<ul>
				{% for news in top_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if world_list %}
		<h3>World</h3>
		<div class="news">
			<ul>
				{% for news in world_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if technology_list %}
		<h3>Tech</h3>
		<div class="news">
			<ul>
				{% for news in technology_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if india_list %}
		<h3>India</h3>
		<div class="news">
			<ul>
				{% for news in india_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	<br><br>
</body>
</html>