<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Headlines</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'headlines/css/common_design.css' %}">

    <!-- I am not sure if the below <style> can be in headlines/css/,
         Would appreciate any feedback regarding the same. -->
	<style type="text/css">
		body {background-image: url("{% static 'headlines/imgs/layout_1.png' %}")}
	</style>

</head>

<body>
	<div class="header">
		The Orient Chronicles
		<button class="custom_news_button">Custom News</button>
		<div id="date">{{ date }}</div>
		<span id="time"></span>
	</div>
	<script type="text/javascript" src="{% static 'headlines/js/time.js' %}"></script>
	{% if top_list %}
		<div class="news_title">Top
			<a href="{% url 'feed_top' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in top_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if world_list %}
		<div class="news_title">World
			<a href="{% url 'feed_world' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in world_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if technology_list %}
		<div class="news_title">Tech
			<a href="{% url 'feed_tech' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in technology_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if india_list %}
		<div class="news_title">India
			<a href="{% url 'feed_india' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in india_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if business_list %}
		<div class="news_title">Business
			<a href="{% url 'feed_business' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in business_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if sports_list %}
		<div class="news_title">Sports
			<a href="{% url 'feed_sports' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in sports_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	{% if science_list %}
		<div class="news_title">Science
			<a href="{% url 'feed_science' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in science_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}


	{% if cricket_list %}
		<div class="news_title">Cricket
			<a href="{% url 'feed_cricket' %}"><img src="{% static 'headlines/imgs/rss_r.svg' %}"></a>
		</div>
		<div class="news">
			<ul>
				{% for news in cricket_list %}
					<li>
						<a href="{{ news.news_url }}">{{ news.title_text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>No news</p>
	{% endif %}

	<br><br>
</body>
</html>