/** {
	border: 2px dotted black;
}
*/
img {
	padding-top: 5px;
	float: right;
}

a {
	color: #373D3F;
	text-decoration: none;
}

a:hover {
	color: tomato;
}

body {
	font-family: monospace;
}

input {
	position: relative;
	left: 37%;
}

.custom_news_button {
  	cursor:pointer;
	position: relative;
	right: -40%;
	color: #373D3F;
	border: 2px solid black;
	background: none;
	box-shadow: none;
	border-radius: 8px;
}

.custom_news_button:hover {
	background: #FFA07A;
}

.custom_news_button a {
	color: #373D3F;
}

.header {
	text-align: left;
	font-family: Times-New-Roman;
	margin: auto;
	width: 1100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 30px;
	font-weight: bold;
}

#time {
	font-size: 12px;
	clear: right;
	float: right;
	padding-right: 20px;
}

#date {
	float: right;
	font-size: 12px;
}

.news {
	background-color: #E0E0E0;
	width: 1100px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
}

.news_title {
	background-color: #E0E0E0;
	width: 1100px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: transparent;
	font-family: Palatino;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 18px;
}